<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <style>
    A:link {
    text-decoration: none;
    color: #6b3b75;
   }
   A:visited { text-decoration: none; color: #6b3b75;}
   A:active { text-decoration: none; color: #6b3b75; }
   A:hover { color: #cc72ba; }
    #container {
      position: relative;
      border-radius: 45px;
      float: right;
      width: 800px;
      border: 4px solid #22656b;
      overflow: hidden;
    }
    #draggable {
      height: 1243px;
      width: 1260px;
      position: absolute;
      cursor: grab;
    }
  </style>
</head>
<body style="">
<header> <div style="
  overflow: hidden;
  height: 100px;
  border-radius: 25px;
  background: #2D8088;">
   <p style="padding-left: 30px;">
       <strong style="
       z-index: 2;
       position: absolute;
       font-size: 250%;
       font-family: gabriola;
       color: #fff;">Карта еды</strong> </p>
    <p style="text-align: center; margin-top: -17px;">
        <img src="static/img/food_img.jpg" style="z-index: 1;"  draggable="false"></p>
</div>
</header>
<div style="margin: 2%; display: flex; justify-content: space-between; height: 500px;">
    <div style="width: 25px;"></div>
    <div id="container"> <img id="draggable" src="static/img/map_img.png" alt="Draggable Image" draggable="false">
        {% for rest in restaurants%}
        <a href="/menu?id={{rest.id}}">
        <img class="imglabel" src="static/img/label_img.png"  alt="Draggable Image" draggable="false"
        style=" top: {{rest.coords_y}}px;
                left: {{rest.coords_x}}px;
                height: 50px;
                width: 50px;
                position: absolute;">
        </a>
        {% endfor %}
    </div>
    <div style="
    border-radius: 45px 0 0 45px;
    border: 4px solid #22656b;
    width: 200px;
    padding: 45px;
    overflow-x: hidden;
    overflow-y:scroll;
    margin: 0 0 0 3%">
    {% if search %}
        {% for rest in objects%}
        <div style="text-align: right;">
            <a style="font-family: trebuchet ms; font-size: 150%;" href="/menu?id={{rest.id}}"> {{rest.name}}
            </a></div>
        <hr style="width: 300px; margin: 10px 0 35px 0" noshade color="#d6d6d6">
        {% endfor %}
    {% else %}
        {% for dish in objects%}
             <div style="text-align: right;">
            <a style="font-family: trebuchet ms; color: #6d4073;  font-size: 130%;"> {{dish.position}}
            </a>
             </div>
        <a style="font-family: trebuchet ms; color: #2D8088;">{{dish.price}}</a>
        <hr style="width: 300px; margin: 10px 0 35px 0" noshade color="#d6d6d6">
        {% endfor %}
    {% endif %}
    </div>
</div>
  <script>
    let draggable = document.getElementById('draggable');
    let container = document.getElementById('container');
    var restList = document.getElementsByClassName('imglabel');
    let offset = {x: 0, y: 0};
    let isMouseDown = false;

    var pozList = []
    for (let i = 0; i < restList.length; i++){
        pozList.push({x: restList[i].offsetLeft, y: restList[i].offsetTop});
    }


    draggable.addEventListener('mousedown', function(e) {
      isMouseDown = true;
      offset.x = e.offsetX;
      offset.y = e.offsetY;
    });

    document.addEventListener('mouseup', function() {
      isMouseDown = false;
    });

    container.addEventListener('mousemove', function(e) {
  if (isMouseDown) {
    let leftPos = e.clientX - container.offsetLeft - offset.x;
    let topPos = e.clientY - container.offsetTop - offset.y;

    if (topPos < 0 && topPos > -draggable.height + 500) {
        draggable.style.top = topPos + 'px';

        for (let i = 0; i < restList.length; i++) {
        restList[i].style.top = pozList[i].y +  topPos + "px";
        }
      }

    if (leftPos < 0 && leftPos > -draggable.width + 800){
        draggable.style.left = leftPos + 'px';

        for (let i = 0; i < restList.length; i++) {
        restList[i].style.left = pozList[i].x + leftPos + "px";
        }
      }
  }
    });
  </script>
</body>
</html>